<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>visual-Identity</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 id="title">visual-identity</h1>
<p>A voice identity fingerprint generator</p>
<p class="mic">Please allow microphone use</p>

<div class="polycontainer">
    <canvas class="polygon" width="640" height="640"></canvas>
    <div class="timer">Start</div>
</div>


<div class="controls2">
    <a class="blue button popup-modal" href="#save-modal" id="save">SAVE</a>
</div>


<div class="viz">
    <canvas class="visualiser" width="640" height="100"></canvas>
    <div class="controls">
        <button id="start">start</button>
        <button id="stop">stop</button>
    </div>
</div>


<div id="save-modal" class="mfp-hide white-popup-block">
    <div class="image"></div>
    <p>
        <a class="button green publish" href="#">publish</a>
        <a class="button red popup-modal-dismiss" href="#">Dismiss</a>
    </p>
</div>

<script id="live-reload" src="http://localhost:35729/livereload.js"></script>
<script src="app.js"></script>
</body>
</html>